*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/*----------------navigation----------------*/
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 135px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul{
    display: inline;
    float: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

/*----------------banner text----------------*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}

/*----------------showcase----------------*/
.showcase{
    width: 100%;
    height: 580px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
}

.showcase-margin{
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 10%;
    position: relative;
}

.showcase-container{
    background: #ffe8f0;
    color: #141414;
    width: 100%;
    height: 460px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.showcase-box{ 
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.showcase-image{
    max-height: 95%;
    max-width: 30%;
    border-radius: 20px;
    float: right;
}

.showcase-text{
    padding: 10px;
    margin-top: 20px;
}

.showcase-box p{
    text-align: justify;
    padding: 20px;
}

.showcase-box h3{
    font-weight: 600;
    text-align: center;
}

.showcase-icon{
    position: relative;
    margin: auto;
    width: fit-content;
    height: 115px;
    padding: auto;
}

.showcase-pic{
    width: 65px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    position: relative;
}

.showcase-box.active-text{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    overflow: auto;
}

.showcase-pic.active-pic{
    border: 3px solid #ff0058;
}

/*---------- why --------*/
.why {
    width: 80vw;
    height: 100%;
    border-radius: 30px;
    margin-left: -30px;
    background-color: #ff6060;
    color: #fff;
    padding: 40px;
    display: flex;
}

.why h2{
    text-align: center;
    font-weight: 600;
    margin: auto;
    padding-left: 10px;
}

.why p{
    font-weight: 500;
    text-align: justify;
    margin: auto 10%;
}

.more-reason {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #ff6060;
    clear: left;
}

.more-reason p{
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    color: #fff;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 30px;
}

/*--------------Footer---------------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
}

.choosing {
    clear: left;
}

